#heading{
  color: ;
  text-align: center;
}
.para
{
  display: block;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;

}
body
{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
